div.pan-dialog-veil {
        z-index: 98;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        opacity: 0.5;
        background-color: #777;
}
div.pan-dialog-box {
        z-index: 99;
        position: fixed;
        top: 8.3%; left: 12.5%; right: 12.5%;
        border: solid thin #000;
        border-left: solid 2mm #000;
        border-right: solid 2mm #000;
        background-color: #fff;
        padding: 1mm 2mm;
	outline: solid thin #fff;
}
div.pan-dialog-buttons { text-align: left; }
div.pan-dialog-buttons button:first-child { margin-left: 0; }
div.pan-dialog-buttons button { margin: 0 1mm; }

span.pan-comboselect			{ display: inline-block; }
span.pan-comboselect.other select	{ width: 3em; }
span.pan-comboselect       input	{ display: none; }
span.pan-comboselect.other input	{ display: inline; }
