.pan-hidden { visibility: hidden; }
.pan-dirty { background-color: #ed7; }
.pan-error { background-color: #c00; color: #fff; }

div.pan-dialog-veil {
	z-index: 98;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	opacity: 0.5;
	background-color: #777;
}
div.pan-dialog-box {
	z-index: 99;
	position: fixed;
	top: 8.3%; left: 12.5%; right: 12.5%;
	border: solid thin #000;
	border-left: solid 2mm #000;
	border-right: solid 2mm #000;
	background-color: #fff;
	padding: 1mm 2mm;
	outline: solid thin #fff;
}
div.pan-dialog-buttons { text-align: left; }
div.pan-dialog-buttons button:first-child { margin-left: 0; }
div.pan-dialog-buttons button { margin: 0 1mm; }

span.pan-comboselect			{ display: inline-block; }
span.pan-comboselect.other select	{ width: 3em; }
span.pan-comboselect       input	{ display: none; }
span.pan-comboselect.other input	{ display: inline; }

span.pan-completion-input { display: inline-block; }
span.pan-completion-input input { display: block; }

span.pan-dropdown {
	display: block;
	position: absolute;
	height: 0;
	overflow: visible;
}
.pan-choices {
	display: block;
	background-color: Menu;
	color: MenuText;
	border: solid thin ButtonShadow;
	border-top: None;
	cursor: pointer;
}
.pan-choice {
	display: block;
	padding-left: 1pt;
	padding-right: 1pt;
}
.pan-choice:hover {
	background-color: Highlight;
	color: HighlightText;
}

table.pan-pinboard { border-collapse: collapse; }
table.pan-pinboard td { margin: 0; }
table.pan-pinboard button {
	border: none; padding: 0; margin: 0;
	background-color: transparent;
}
table.pan-pinboard td:first-child { padding-left: 0.3em; }
table.pan-pinboard td { border: none; padding: 0 0.2em; }
table.pan-pinboard td.debug	button { background-color: #0c9; }
table.pan-pinboard td.info	button { background-color: #0c9; }
table.pan-pinboard td.notice	button { background-color: #0f0; }
table.pan-pinboard td.warning	button { background-color: #c60; }
table.pan-pinboard td.error	button { background-color: #f00; }
table.pan-pinboard td.fatal	button { background-color: #f05; }

.pan-with-edit button { margin-left: 0.33em; }
.pan-with-edit textarea { margin-left: 0.33em; }
